* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccdcdc;
}

.bg-red {
    background-color: #8a1e00;
}

h5 {
    font-size: 0.875rem; 
}

p {
    font-size: 0.7em; 
}

.card {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    object-fit: cover;
    height: 150px; 
}


.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem; 
}
.card-description {
    height: 120px; 
}

.card-text {
    margin-bottom: 0.5rem; 
}

.text-center {
    margin-top: auto;
}

.mt-auto {
    margin-top: auto;
}

.card:hover {
    background-color: #f8d7da;
    border-color: #8a1e00;
}

.card:hover .card-text {
    color: #721c24;
}

.btn {
    background-color: #721c24;
    border-color: #721c24;
    color: #fff;
}

.btn-sm {
    padding: 0.25rem 0.5rem; 
}
